extends layout

block div1
   #knownTurtles.graph
   button#species Species
   button#location Location
   button#age Age
   p Turtles have many qualities to them that make them unique. Some of the most well known turtles fight crime. Then there are some that are house-hold pets.

block div2
   // name, species, location, age
   p Add another turtle into our database, fill out the following information:
   form(action='/addTurtle', method='post')
      table
         tr
            td
               | Name:
            td
               input(id='turtle_name', type='text', value='', name='turtle_name')
         tr
            td
               | Species:
            td
               input(id='turtle_species', type='text', value='', name='turtle_species')
         tr
            td
               | Age:
            td
               input(id='turtle_age', type='text', value='', name='turtle_age')
         tr
            td
               | Location:
            td
               input(id='turtle_location', type='text', value='', name='turtle_location')
      div(id='newTurtleSubmit')
         input(type='submit', value='Add Turtle')

block div3
   p Here is some information on the diets of the turtles as well as a nice picture
   img(src= 'images/tmnt.jpg', alt = 'image')
   #dietData.graph
block div4
   p Below is a graph displaying the weight and the life expectency of each species of turtle. Some turtles can weigh thousands of pounds! These turtles are often found in the zoo.
   #speciesData.graph
   button#weightGraph Weight
   button#ageGraph Life Expectency
