extends layout

block div1
   // name, species, location, age
   p Add another turtle into our database:
   form(action='/addTurtle', method='post')
      table
         tr
            td
               | Name:
            td
               input(id='turtle_name', type='text', value='', name='turtle_name')
         tr
            td
               | Species:
            td
               input(id='turtle_species', type='text', value='', name='turtle_species')
         tr
            td
               | Age:
            td
               input(id='turtle_age', type='text', value='', name='turtle_age')
         tr
            td
               | Location:
            td
               input(id='turtle_location', type='text', value='', name='turtle_location')
      div(id='newTurtleSubmit')
         input(type='submit', value='Add Turtle')

block div2
   p This is a graph of all known Turtles
block div3
   p Here is some information on the diets of the turtles as well as a nice picture
   img(src= 'images/tmnt.jpg', alt = 'image')
   #dietData.graph
block div4
   #speciesData.graph
   button#weightGraph Weight
   button#ageGraph Life Expectency
