//
   Created by kevinmee on 12/1/14.

extends layout

block header
   h1 #{title}
   hr

block div1
   p "test div1"


block div2
   p "test div2"


block div3
   p "test div3"


block div4
   p "test div4"