doctype html
html
  head
    title= 'TURTLES ARE AWESOME'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/jquery/jquery-2.1.1.min.js', type='text/javascript')
    script(src='js/highcharts/highcharts.js', type='text/javascript')
    script(src='js/clientCode.js', type='text/javascript')
  body
    #div1
      .inner
        block div1
    #div2
      .inner
        block div2
    #div3
      .inner
        block div3
    #div4
      .inner
        block div4
