doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #div1
      .inner
        block div1
    #div2
      .inner
        block div2
    #div3
      .inner
        block div3
    #div4
      .inner
        block div4
