body {
  padding-left: 10%;
  padding-right: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  background-color: antiquewhite;
}

#div1 {
  width: 80%;
  border: 4px solid blanchedalmond;
}

#div1 table tr td {
  min-width: 70px;
}

#div2 {
  margin-top: 10px;
  width: 80%;
  border: 4px solid blanchedalmond;
}

#div3 {
  margin-top: 10px;
  width: 80%;
  border: 4px solid blanchedalmond;
}

#div4 {
  margin-top: 10px;
  width: 80%;
  border: 4px solid blanchedalmond;
}

.graph {
  width: 97%;
  height: 400px;
  text-align: center;
}

.inner  {
  padding: 5px;
  text-align: center;

}

img {
  width: 150px;
}